<ion-header>
  <ion-toolbar>
    <ion-title>Electro Salud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Balanza Aspen</ion-card-title>
      <ion-card-subtitle>Contenido:1 </ion-card-subtitle>
    </ion-card-header>
  <img src="assets\electro salud\balanza.jpeg"/>
    <ion-card-content>
      Precio:$4.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Nebulizador Omron</ion-card-title>
      <ion-card-subtitle>Contenido:1</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\electro salud\nebulizador.jpeg"/>
    <ion-card-content>
      Precio:$6.550
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Oximetro Next</ion-card-title>
      <ion-card-subtitle>Contenido:1</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\electro salud\oximetro.jpeg"/>
    <ion-card-content>
      Precio:$3.285
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Termometro Philips</ion-card-title>
      <ion-card-subtitle>Contenido:1</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\electro salud\termometro.jpeg"/>
    <ion-card-content>
      Precio:$1.430
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Tensiometro Omron</ion-card-title>
      <ion-card-subtitle>Contenido:1</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\electro salud\tensiometro.jpg"/>
    <ion-card-content>
      Precio:$5.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Balanza Medpex</ion-card-title>
      <ion-card-subtitle>Contenido:1</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\electro salud\balanza1.jpeg"/>
    <ion-card-content>
      Precio:$4.962
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>








  <ion-card>
    <ion-card-header>
      <ion-card-title>Almohadilla electrica Aspen</ion-card-title>
      <ion-card-subtitle>Contenido:1</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\electro salud\almohadilla_electrica.webp"/>
    <ion-card-content>
      Precio:$2.480
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>











  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aerocamara AeroChamber azul</ion-card-title>
      <ion-card-subtitle>Contenido:1</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\electro salud\aerocamara1.jpg"/>
    <ion-card-content>
      Precio:$5.320
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Almohadilla electrica Newsumit</ion-card-title>
      <ion-card-subtitle>Contenido:1</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\electro salud\almohadilla_electrica2.webp"/>
    <ion-card-content>
      Precio:$5.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>








  <ion-card>
    <ion-card-header>
      <ion-card-title>Aerocamara AeroChamber amarillo</ion-card-title>
      <ion-card-subtitle>Contenido:1</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\electro salud\aerocamara2.webp"/>
    <ion-card-content>
      Precio:$5.320
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







</ion-content>




