<ion-header>
  <ion-toolbar>
    <ion-title>electro_salud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <ion-card-header>
      <ion-card-title>balanza</ion-card-title>
      <ion-card-subtitle>Contenido:1 u</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\electro salud\balanza.jpeg"/>
    <ion-card-content>
      Precio:$400
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>nebulizador</ion-card-title>
      <ion-card-subtitle>Contenido:90gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\electro salud\nebulizador.jpeg"/>
    <ion-card-content>
      Precio:$250
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>oximetro</ion-card-title>
      <ion-card-subtitle>Contenido:30gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\electro salud\oximetro.jpeg"/>
    <ion-card-content>
      Precio:$300
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>termometro</ion-card-title>
      <ion-card-subtitle>Contenido:750gr, 5ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\electro salud\termometro.jpeg"/>
    <ion-card-content>
      Precio:$1000
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>tensiometro</ion-card-title>
      <ion-card-subtitle>Contenido:1u</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\electro salud\tensiometro.jpg"/>
    <ion-card-content>
      Precio:$5.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>



</ion-content>




