

<ion-header>
  <ion-toolbar>
    <ion-title>carrito</ion-title>
  </ion-toolbar>
<ion-list> <!--chekbox de productos-->
  <ion-item>
    <ion-label style="height: 100px; width: auto">PRODUCTOS</ion-label>
    <ion-select  multiple="true" cancelText="CANCEL" okText="OK">
      <ion-select-option value="1">TELEVISOR</ion-select-option>
      <ion-select-option value="2">CELULAR</ion-select-option>
      <ion-select-option value="3">NOTEBOOK</ion-select-option>
      <ion-select-option value="4">TABLET</ion-select-option>
     
    </ion-select>
  </ion-item>

</ion-list>
<ion-list>
  <ion-item><!--suma de productos-->
    <ion-label style="height: 100px; width: auto">CANTIDAD</ion-label>
    <ion-input type="number" [(ngModel)]="cantidad"></ion-input>
    
  </ion-item>
  <ion-item><!--chekbox de retiro-->
    <ion-label style="height: 100px; width: auto">RETIRO</ion-label>
    <ion-select  multiple="true" cancelText="CANCEL" okText="OK">
      <ion-select-option value="1">SUCURSAL</ion-select-option>
      <ion-select-option value="2">DOMICILIO</ion-select-option>
     
    </ion-select>
  </ion-item>
  <ion-button [routerLink]="['/inicio']">volver al inicio</ion-button>
  <ion-button color="danger" slot="end" (click)="sumarcarrito()">FINALIZAR COMPRA</ion-button><!-- boton de finalizacion de compra-->
  <ion-label style="height: 100px; width: auto">  Cantidad =    {{carrito}}</ion-label><!-- muestra la cantidad de productos comprados-->

</ion-list>