<ion-header>
  <ion-toolbar>
    <ion-title>Bebes y Niños</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <p>
        <img src="assets\bebes\ofertabebes.jpeg"/>
       
      </p>
    </ion-slide>
   
  </ion-slides>










  <ion-card>
    <ion-card-header>
      <ion-card-title>Pañales Hugguies M</ion-card-title>
      <ion-card-subtitle>Contenido:48</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\pañales.jpeg"/>
    <ion-card-content>
      Precio:$400
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Cepillo Colgate Kids</ion-card-title>
      <ion-card-subtitle>Contenido:2</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\cepillobbs.jpeg"/>
    <ion-card-content>
      Precio:$250
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Shampoo Jhonson</ion-card-title>
      <ion-card-subtitle>Contenido:500ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\cuidado personal\shampoo_johnson.png"/>
    <ion-card-content>
      Precio:$1.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Chupete Philips</ion-card-title>
      <ion-card-subtitle>Contenido:1u</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\chupete.jpeg"/>
    <ion-card-content>
      Precio:$150
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Toallitas humedas Huggies</ion-card-title>
      <ion-card-subtitle>Contenido:100</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\bebes\jabonbbs.jpeg"/>
    <ion-card-content>
      Precio:$250
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>shampoo Suave niños</ion-card-title>
      <ion-card-subtitle>Contenido:650Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\shampoo niños.jpeg"/>
    <ion-card-content>
      Precio:$1.800
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>shampoo Suave niñas</ion-card-title>
      <ion-card-subtitle>Contenido:450Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\shampoo suave.jpeg"/>
    <ion-card-content>
      Precio:$1.500
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>




  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfume Cars</ion-card-title>
      <ion-card-subtitle>Contenido:300ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\perfume cars nño.jpeg"/>
    <ion-card-content>
      Precio:$1.300
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>




  <ion-card>
    <ion-card-header>
      <ion-card-title>Pañales Hugguies XG</ion-card-title>
      <ion-card-subtitle>Contenido:16</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\pañales2.jpeg"/>
    <ion-card-content>
      Precio:$800
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>




  <ion-card>
    <ion-card-header>
      <ion-card-title>Leche Sancor bebe 3</ion-card-title>
      <ion-card-subtitle>Contenido:200Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\leche nutritiva.jpeg"/>
    <ion-card-content>
      Precio:$500
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>



  
</ion-content>




