<ion-header>
  <ion-toolbar>
    <ion-title>Bebes Niños</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <p>
        <img src="assets\bebes\ofertabebes.jpeg"/>
       
      </p>
    </ion-slide>
   
  </ion-slides>










  <ion-card>
    <ion-card-header>
      <ion-card-title>pañales hugguies</ion-card-title>
      <ion-card-subtitle>Contenido:x16</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\pañales.jpeg"/>
    <ion-card-content>
      Precio:$400
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>cepillo bebe-niños</ion-card-title>
      <ion-card-subtitle>Contenido:2u</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\cepillobbs.jpeg"/>
    <ion-card-content>
      Precio:$250
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>shampoo jhonson</ion-card-title>
      <ion-card-subtitle>Contenido:500ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\cuidado personal\shampoo_johnson.png"/>
    <ion-card-content>
      Precio:$1200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Chupete</ion-card-title>
      <ion-card-subtitle>Contenido:1u</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\chupete.jpeg"/>
    <ion-card-content>
      Precio:$150
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>jabon huggies</ion-card-title>
      <ion-card-subtitle>Contenido:1u</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\bebes\jabonbbs.jpeg"/>
    <ion-card-content>
      Precio:$250
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>shampoo suave niños</ion-card-title>
      <ion-card-subtitle>Contenido:650gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\shampoo niños.jpeg"/>
    <ion-card-content>
      Precio:$800
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>shampoo suave</ion-card-title>
      <ion-card-subtitle>Contenido:450Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\bebes\shampoo suave.jpeg"/>
    <ion-card-content>
      Precio:$500
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>

  <img src="assets\bebes\ofertabebes.jpeg"/>
</ion-content>




