<ion-header>
  <ion-toolbar>
    <ion-title>dermocosmetica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <p>
        <img src="assets\dermocosmetica\oferta4.jpeg"/>
       
      </p>
    </ion-slide>
    
  </ion-slides>










  <ion-card>
    <ion-card-header>
      <ion-card-title>loreal reparacion capilar</ion-card-title>
      <ion-card-subtitle>Contenido:500Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\cremacabello.jpeg"/>
    <ion-card-content>
      Precio:$1500
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Bagovit nutricion profunda</ion-card-title>
      <ion-card-subtitle>Contenido:500ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\cremacorporal.jpeg"/>
    <ion-card-content>
      Precio:$1600
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Eucerin PH5</ion-card-title>
      <ion-card-subtitle>Contenido:30gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\locion hidratante.jpeg"/>
    <ion-card-content>
      Precio:$800
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Combo rimel + delineador + paleta de sombras</ion-card-title>
      <ion-card-subtitle>Contenido:3</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\maquillaje.jpeg"/>
    <ion-card-content>
      Precio:$1350
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Serum + base</ion-card-title>
      <ion-card-subtitle>Contenido:100Ml</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\dermocosmetica\maquillaje1.jpeg"/>
    <ion-card-content>
      Precio:$950
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Antiarrugas Nivea</ion-card-title>
      <ion-card-subtitle>Contenido:350gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\crema antiarrugas.jpg"/>
    <ion-card-content>
      Precio:$800
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Agua micelar </ion-card-title>
      <ion-card-subtitle>Contenido:150Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\agua micelar.jpg"/>
    <ion-card-content>
      Precio:$1100
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  


  <ion-card>
    <ion-card-header>
      <ion-card-title>Mascarilla shot detox</ion-card-title>
      <ion-card-subtitle>Contenido:100gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\dermocosmetica\descarga.jpg"/>
    <ion-card-content>
      Precio:$360
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>crema facial Nivea</ion-card-title>
      <ion-card-subtitle>Contenido:200gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\dermocosmetica\hidratacionintensa.jpg"/>
    <ion-card-content>
      Precio:$652
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>




