<ion-header>
  <ion-toolbar>
    <ion-title>Dermocosmetica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <p>
        <img src="assets\dermocosmetica\oferta4.jpeg"/>
       
      </p>
    </ion-slide>
    <ion-slide>
      <p>
        <img src="assets\logo y ofertas\oferta30.png"/>
       
      </p>
    </ion-slide>


    <ion-slide>
      <p>
        <img src="assets\logo y ofertas\nft7.webp"/>
       
      </p>
    </ion-slide>
    
  </ion-slides>










  <ion-card>
    <ion-card-header>
      <ion-card-title>Loreal Paris reparacion capilar</ion-card-title>
      <ion-card-subtitle>Contenido:500Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\cremacabello.jpeg"/>
    <ion-card-content>
      Precio:$4.500
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Bagovit nutricion profunda</ion-card-title>
      <ion-card-subtitle>Contenido:500ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\cremacorporal.jpeg"/>
    <ion-card-content>
      Precio:$2.600
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Eucerin PH5</ion-card-title>
      <ion-card-subtitle>Contenido:400Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\locion hidratante.jpeg"/>
    <ion-card-content>
      Precio:$800
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Combo Rimel + delineador + paleta de sombras</ion-card-title>
      <ion-card-subtitle>Contenido:3</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\maquillaje.jpeg"/>
    <ion-card-content>
      Precio:$1.250
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Serum + base</ion-card-title>
      <ion-card-subtitle>Contenido:2</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\dermocosmetica\maquillaje1.jpeg"/>
    <ion-card-content>
      Precio:$1.150
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Antiarrugas Nivea</ion-card-title>
      <ion-card-subtitle>Contenido:350gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\crema antiarrugas.jpg"/>
    <ion-card-content>
      Precio:$1.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Agua micelar </ion-card-title>
      <ion-card-subtitle>Contenido:400Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\dermocosmetica\agua micelar.jpg"/>
    <ion-card-content>
      Precio:$1.300
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  


  <ion-card>
    <ion-card-header>
      <ion-card-title>Mascarilla shot detox</ion-card-title>
      <ion-card-subtitle>Contenido:100gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\dermocosmetica\descarga.jpg"/>
    <ion-card-content>
      Precio:$460
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Crema facial Nivea</ion-card-title>
      <ion-card-subtitle>Contenido:200gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\dermocosmetica\hidratacionintensa.jpg"/>
    <ion-card-content>
      Precio:$852
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crema antiarrugas Eucerin</ion-card-title>
      <ion-card-subtitle>Contenido:200gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\dermocosmetica\crema_eucerin.jpg"/>
    <ion-card-content>
      Precio:$1.448
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>




