<ion-header>
  <ion-toolbar>
    <ion-title>Salud y Bienestar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <p>
        <img src="assets\logo y ofertas\ofertadrogi.jpg"/>
       
      </p>
    </ion-slide>
    <ion-slide>
      <p>
        <img src="assets\oferta7.png"/>
       
      </p>
      
    </ion-slide>
    <ion-slide>
      <p>
        <img src="assets\oferta8.png"/>
      </p>
    </ion-slide>
  </ion-slides>










  <ion-card>
    <ion-card-header>
      <ion-card-title>Hepatalgina</ion-card-title>
      <ion-card-subtitle>Contenido:200Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\salud y farmacia\hepatalguinaremedio.jpeg"/>
    <ion-card-content>
      Precio:$1.284
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>102 Plus</ion-card-title>
      <ion-card-subtitle>Contenido:150gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\salud y farmacia\102añosplus.jpeg"/>
    <ion-card-content>
      Precio:$3.250
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Bayaspirina</ion-card-title>
      <ion-card-subtitle>Contenido:300gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\salud y farmacia\bayaspirina.jpg"/>
    <ion-card-content>
      Precio:$500
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Amoxidal Duo</ion-card-title>
      <ion-card-subtitle>Contenido:750gr, 5ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\salud y farmacia\amoxidal_duo.jpg"/>
    <ion-card-content>
      Precio:$1.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Buscapina</ion-card-title>
      <ion-card-subtitle>Contenido:100gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\salud y farmacia\buscapina.jpeg"/>
    <ion-card-content>
      Precio:$850
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>sindol</ion-card-title>
      <ion-card-subtitle>Contenido:100gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\salud y farmacia\sindol.jpg"/>
    <ion-card-content>
      Precio:$950
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Bioalcohol</ion-card-title>
      <ion-card-subtitle>Contenido:250Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\salud y farmacia\alcohol en gel.jpeg"/>
    <ion-card-content>
      Precio:$1.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  


  <ion-card>
    <ion-card-header>
      <ion-card-title>Actron</ion-card-title>
      <ion-card-subtitle>Contenido:250gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\salud y farmacia\actron.jpg"/>
    <ion-card-content>
      Precio:$2.460
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Aktiol en aerosol</ion-card-title>
      <ion-card-subtitle>Contenido:200Ml</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\salud y farmacia\alcohol en aerosol.jpeg"/>
    <ion-card-content>
      Precio:$1.652
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Fabogesic</ion-card-title>
      <ion-card-subtitle>Contenido:600gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\salud y farmacia\ibuprofeno.jpg"/>
    <ion-card-content>
      Precio:$752
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  



</ion-content>




