<ion-header>
  <ion-toolbar>
    <ion-title>nutricion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Ensure</ion-card-title>
      <ion-card-subtitle>Contenido:200Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\nutricion\ensure.jpeg"/>
    <ion-card-content>
      Precio:$4.000
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>nitrilon bbs</ion-card-title>
      <ion-card-subtitle>Contenido:1000gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\nutricion\nutrilon.jpeg"/>
    <ion-card-content>
      Precio:$2.000
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Proteina ENA</ion-card-title>
      <ion-card-subtitle>Contenido:1000gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\nutricion\proteina ENA.jpeg"/>
    <ion-card-content>
      Precio:$7.300
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>PROTEINEX</ion-card-title>
      <ion-card-subtitle>Contenido:750gr, 5ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\nutricion\proteinax.jpeg"/>
    <ion-card-content>
      Precio:$1100
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>quemador de grasas</ion-card-title>
      <ion-card-subtitle>Contenido:300gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\nutricion\quemador de grasas gentech.jpeg"/>
    <ion-card-content>
      Precio:$2.250
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Ripped max</ion-card-title>
      <ion-card-subtitle>Contenido:350gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\nutricion\quemador de grasas.jpeg"/>
    <ion-card-content>
      Precio:$2.800
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>caramelos vitaminicos</ion-card-title>
      <ion-card-subtitle>Contenido:150gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\nutricion\caramelosvitaminicos.jpeg"/>
    <ion-card-content>
      Precio:$800
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  


  <ion-card>
    <ion-card-header>
      <ion-card-title>whey protein gentech</ion-card-title>
      <ion-card-subtitle>Contenido:250gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\nutricion\whey protein gentech.jpeg"/>
    <ion-card-content>
      Precio:$8.360
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>




</ion-content>




