<ion-header>
  <ion-toolbar>
    <ion-title>perfumes_fragancias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <p>
        <img src="assets\oferta6.png"/>
       
      </p>
    </ion-slide>
    <ion-slide>
      <p>
        <img src="assets\oferta7.png"/>
       
      </p>
      
    </ion-slide>
    <ion-slide>
      <p>
        <img src="assets\oferta8.png"/>
      </p>
    </ion-slide>
  </ion-slides>










  <ion-card>
    <ion-card-header>
      <ion-card-title>locion nivea</ion-card-title>
      <ion-card-subtitle>Contenido:350Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\locion_nivea.png"/>
    <ion-card-content>
      Precio:$3000
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>perfume cars</ion-card-title>
      <ion-card-subtitle>Contenido:300ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfume cars nño.jpeg"/>
    <ion-card-content>
      Precio:$1.300
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>perfume polo</ion-card-title>
      <ion-card-subtitle>Contenido:400ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfumepolo.jpeg"/>
    <ion-card-content>
      Precio:$3.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>




