<ion-header>
  <ion-toolbar>
    <ion-title>Perfumes y Fragancias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <p>
        <img src="assets\logo y ofertas\oferta44.png"/>
       
      </p>
    </ion-slide>
  </ion-slides>










  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfume Gio Gio Armani</ion-card-title>
      <ion-card-subtitle>Contenido:250Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfume_gio.webp"/>
    <ion-card-content>
      Precio:$2.000
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfume Prüne IV </ion-card-title>
      <ion-card-subtitle>Contenido:400ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfume_pruneIV.webp"/>
    <ion-card-content>
      Precio:$3.320
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfume Polo</ion-card-title>
      <ion-card-subtitle>Contenido:400ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfumepolo.jpeg"/>
    <ion-card-content>
      Precio:$3.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfume 212</ion-card-title>
      <ion-card-subtitle>Contenido:250ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfume_212.webp"/>
    <ion-card-content>
      Precio:$2.500
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Pack Kevin</ion-card-title>
      <ion-card-subtitle>Contenido:3</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfume_kevin.webp"/>
    <ion-card-content>
      Precio:$4.800
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfume Red</ion-card-title>
      <ion-card-subtitle>Contenido:700ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfume_red.jpg"/>
    <ion-card-content>
      Precio:$3.000
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>








  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfume Love Rock</ion-card-title>
      <ion-card-subtitle>Contenido:200ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfume_loverock.jpg"/>
    <ion-card-content>
      Precio:$3.700
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfume Ciel</ion-card-title>
      <ion-card-subtitle>Contenido:400ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfume_ciel.jpg"/>
    <ion-card-content>
      Precio:$800
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfume Boos</ion-card-title>
      <ion-card-subtitle>Contenido:500ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfume_boss.webp"/>
    <ion-card-content>
      Precio:$3.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfume 1 Millon</ion-card-title>
      <ion-card-subtitle>Contenido:800ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\perfumes y fragancias\perfume_millon.jpg"/>
    <ion-card-content>
      Precio:$4.550
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>



</ion-content>




