<ion-header>
  <ion-toolbar>
    <ion-title>Cuidado Personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <p>
        <img src="assets\cuidado personal\oferta5.jpeg"/>
       
      </p>
    </ion-slide>
    <ion-slide>
      <p>
        <img src="assets\logo y ofertas\oferta22.png"/>
       
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        <img src="assets\logo y ofertas\nft7.webp"/>
       
      </p>
    </ion-slide>
    
  </ion-slides>










  <ion-card>
    <ion-card-header>
      <ion-card-title>Desodorante Rexona</ion-card-title>
      <ion-card-subtitle>Contenido:250Ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\cuidado personal\Desodorante_rexona.jpg"/>
    <ion-card-content>
      Precio:$1.000
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Jabon Dove</ion-card-title>
      <ion-card-subtitle>Contenido:90gr</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\cuidado personal\jabon_dove.png"/>
    <ion-card-content>
      Precio:$250
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>







  <ion-card>
    <ion-card-header>
      <ion-card-title>Shampoo Loreal Paris Expert</ion-card-title>
      <ion-card-subtitle>Contenido:400ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\cuidado personal\shampooloreal.jpeg"/>
    <ion-card-content>
      Precio:$3.500
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>cepillo oral B</ion-card-title>
      <ion-card-subtitle>Contenido:2</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\cuidado personal\cepillo oral-b.jpeg"/>
    <ion-card-content>
      Precio:$1.700
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Colgate Triple accion</ion-card-title>
      <ion-card-subtitle>Contenido:200Ml</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\cuidado personal\colgate pastadental.jpeg"/>
    <ion-card-content>
      Precio:$2.550
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Desodorante Dove</ion-card-title>
      <ion-card-subtitle>Contenido:250ml</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\cuidado personal\desodorante dove.jpeg"/>
    <ion-card-content>
      Precio:$1.000
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>






  <ion-card>
    <ion-card-header>
      <ion-card-title>Toallitas Enjoy</ion-card-title>
      <ion-card-subtitle>Contenido:8</ion-card-subtitle>
    </ion-card-header>
  <img src="assets\cuidado personal\enjoy toallitas femeninas.jpeg"/>
    <ion-card-content>
      Precio:$500
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  


  <ion-card>
    <ion-card-header>
      <ion-card-title>Espuma de afeitar Nivea</ion-card-title>
      <ion-card-subtitle>Contenido:250gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\cuidado personal\espumadeafeitar.jpeg"/>
    <ion-card-content>
      Precio:$1.560
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>afeitadora guillete</ion-card-title>
      <ion-card-subtitle>Contenido:2 </ion-card-subtitle>
    </ion-card-header>
    <img src="assets\cuidado personal\guillete afeitadora.jpeg"/>
    <ion-card-content>
      Precio:$652
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>





  <ion-card>
    <ion-card-header>
      <ion-card-title>Paradontax</ion-card-title>
      <ion-card-subtitle>Contenido:200gr</ion-card-subtitle>
    </ion-card-header>
    <img src="assets\cuidado personal\paadontax.jpeg"/>
    <ion-card-content>
      Precio:$2.200
      <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>




