
<ion-header>
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full"  [routerLink]="['/dermocosmetica']">Dermocosmetica</ion-button>
  <ion-button expand="full"  [routerLink]="['/cuidado-personal']">Cuidado Personal</ion-button>
  <ion-button expand="full"  [routerLink]="['/electro-salud']">Electro Salud</ion-button>
  <ion-button expand="full"  [routerLink]="['/bebes-ninos']">Bebes y Niños</ion-button>
  <ion-button expand="full"  [routerLink]="['/nutricion']">Nutricion</ion-button>
  <ion-button expand="full"  [routerLink]="['/perfumes-fragancias']">Perfumes y Fragancias</ion-button>
  <ion-button expand="full"  [routerLink]="['/salud-bienestar']">Salud y Farmacia</ion-button>
 
</ion-content>





