
<ion-header>
  <ion-toolbar>
    <ion-title>categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-conten>

  <ion-button expand="full">dermocosmetica</ion-button>
  <ion-button expand="full">dermocosmetica</ion-button>
  <ion-button expand="full">dermocosmetica</ion-button>
  <ion-button expand="full">dermocosmetica</ion-button>
  <ion-button expand="full">dermocosmetica</ion-button>
  <ion-button expand="full">dermocosmetica</ion-button>
  <ion-button expand="full">dermocosmetica</ion-button>
 
</ion-conten>

