<ion-header>
  <ion-toolbar >
    <ion-title>inicio</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-content>
    
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <p>
          <img src="assets\oferta6.png"/>
         
        </p>
      </ion-slide>
      <ion-slide>
        <p>
          <img src="assets\oferta7.png"/>
         
        </p>
        
      </ion-slide>
      <ion-slide>
        <p>
          <img src="assets\oferta8.png"/>
        </p>
      </ion-slide>
    </ion-slides>










    <ion-card>
      <ion-card-header>
        <ion-card-title>Hepatalgina</ion-card-title>
        <ion-card-subtitle>Contenido:200Ml</ion-card-subtitle>
      </ion-card-header>
    <img src="assets/hepatalgina.jpg"/>
      <ion-card-content>
        Precio:$400
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Jabon Dove</ion-card-title>
        <ion-card-subtitle>Contenido:90gr</ion-card-subtitle>
      </ion-card-header>
    <img src="assets/jabon_dove.png"/>
      <ion-card-content>
        Precio:$250
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bayaspirina</ion-card-title>
        <ion-card-subtitle>Contenido:30gr</ion-card-subtitle>
      </ion-card-header>
    <img src="assets/bayaspirina.jpg"/>
      <ion-card-content>
        Precio:$300
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Amoxidal Duo</ion-card-title>
        <ion-card-subtitle>Contenido:750gr, 5ml</ion-card-subtitle>
      </ion-card-header>
    <img src="assets/amoxidal_duo.jpg"/>
      <ion-card-content>
        Precio:$1000
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Desodorante Rexona</ion-card-title>
        <ion-card-subtitle>Contenido:200Ml</ion-card-subtitle>
      </ion-card-header>
      <img src="assets/Desodorante_rexona.jpg"/>
      <ion-card-content>
        Precio:$250
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Geniol</ion-card-title>
        <ion-card-subtitle>Contenido:650gr</ion-card-subtitle>
      </ion-card-header>
    <img src="assets/geniol.png"/>
      <ion-card-content>
        Precio:$800
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Locion micelar Nivea</ion-card-title>
        <ion-card-subtitle>Contenido:150Ml</ion-card-subtitle>
      </ion-card-header>
    <img src="assets/locion_nivea.png"/>
      <ion-card-content>
        Precio:$200
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
    
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Actron</ion-card-title>
        <ion-card-subtitle>Contenido:250gr</ion-card-subtitle>
      </ion-card-header>
      <img src="assets/actron.jpg"/>
      <ion-card-content>
        Precio:$360
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ibuprofeno</ion-card-title>
        <ion-card-subtitle>Contenido:100gr</ion-card-subtitle>
      </ion-card-header>
      <img src="assets/sindol.jpg"/>
      <ion-card-content>
        Precio:$652
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Shampoo Johnson</ion-card-title>
        <ion-card-subtitle>Contenido:400Ml</ion-card-subtitle>
      </ion-card-header>
      <img src="assets/shampoo_johnson.png"/>
      <ion-card-content>
        Precio:$800
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  















  </ion-content>


