<ion-header>
  <ion-toolbar >
    <ion-title>inicio</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-content>
    
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <p>
          <img src="assets\farmaciacartel.jpeg"/>
         
        </p>
      </ion-slide>
      <ion-slide>
        <p>
          <img src="assets\salonfarmacia.jpg"/>
         
        </p>
        
      </ion-slide>
      <ion-slide>
        <p>
          <img src="assets\drogas.jpeg"/>
        </p>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>
