<ion-header>
  <ion-toolbar >
    <ion-title>inicio</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-content>
    
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <p>
          <img src="assets\logo y ofertas\oferta1.jpg"/>
         
        </p>
      </ion-slide>
      <ion-slide>
        <p>
          <img src="assets\logo y ofertas\oferta2.jpg"/>
         
        </p>
        
      </ion-slide>
      <ion-slide>
        <p>
          <img src="assets\logo y ofertas\ofertq4.jpg"/>
        </p>
      </ion-slide>
    </ion-slides>









    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Hepatalgina</ion-card-title>
        <ion-card-subtitle>Contenido:200Ml</ion-card-subtitle>
      </ion-card-header>
    <img src="assets\salud y farmacia\hepatalguinaremedio.jpeg"/>
      <ion-card-content>
        Precio:$400
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Jabon Dove</ion-card-title>
        <ion-card-subtitle>Contenido:90gr</ion-card-subtitle>
      </ion-card-header>
    <img src="assets\cuidado personal\jabon_dove.png"/>
      <ion-card-content>
        Precio:$250
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bayaspirina</ion-card-title>
        <ion-card-subtitle>Contenido:30gr</ion-card-subtitle>
      </ion-card-header>
    <img src="assets\salud y farmacia\bayaspirina.jpg"/>
      <ion-card-content>
        Precio:$300
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
    <img src="assets\bebes\ofertabebes.jpeg"/>
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Amoxidal Duo</ion-card-title>
        <ion-card-subtitle>Contenido:750gr, 5ml</ion-card-subtitle>
      </ion-card-header>
    <img src="assets\salud y farmacia\amoxidal_duo.jpg"/>
      <ion-card-content>
        Precio:$1000
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Desodorante Rexona</ion-card-title>
        <ion-card-subtitle>Contenido:200Ml</ion-card-subtitle>
      </ion-card-header>
      <img src="assets\cuidado personal\Desodorante_rexona.jpg"/>
      <ion-card-content>
        Precio:$250
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Locion micelar Nivea</ion-card-title>
        <ion-card-subtitle>Contenido:150Ml</ion-card-subtitle>
      </ion-card-header>
    <img src="assets\perfumes y fragancias\locion_nivea.png"/>
      <ion-card-content>
        Precio:$700
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  
  
  
    
  
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Actron</ion-card-title>
        <ion-card-subtitle>Contenido:250gr</ion-card-subtitle>
      </ion-card-header>
      <img src="assets\salud y farmacia\actron.jpg"/>
      <ion-card-content>
        Precio:$360
        <ion-button expand="full" [routerLink]="['/carrito']"  slot="end">Comprar</ion-button>
      </ion-card-content>
    </ion-card>
  
  
    <img src="assets\logo y ofertas\ofertacolgate.jpeg"/>
  
  
  
  















  </ion-content>


